<!-- ejs files which are rendered to the browser through 'view engine' as HTML files. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <script
      src="https://kit.fontawesome.com/0d4ea2bed4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Trispace:wght@800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="shortcut icon" type="image/png" href="/images/logo.jpg" />
    <%- style %>
  </head>
  <body>
    <%- include('_header'); %> 

    

    <main>
        <%- body %>
    </main>
    
    <%- include('_footer'); %>

    <script src="/js/layout.js"></script>

    
    <%- script %>

    <script>
      // 'Noty' for flashing 'success' notificaions on the page
      <% if (flash.success && flash.success.length > 0) {%>
          new Noty({
              theme: 'relax',
              text: "<%= flash.success %>",
              type: 'success',
              layout: 'topRight',
              timeout: 1500
              
          }).show();    
      <%} %>
      
      // 'Noty' for flashing 'error' notificaions on the page
      <% if (flash.error && flash.error.length > 0) {%>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.error %>",
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1500
                    
                }).show();    
            <%} %>
  </script>

  </body>
</html>
